.DS_Store
/src/miniPSP/Data/Bands/*.tif
/src/miniPSP/Data/Targets/*.tif
/src/miniPSP/Data/*.npy
/src/miniPSP/Data/*.txt
/src/miniPSP/logs
/src/miniPSP/Model_test
/src/miniPSP/__pycache__
/src/miniPSP/models/__pycache__
/src/miniPSP/utils/__pycache__
/src/miniPSP/PSP_Saved
/src/miniPSP/a.py
/src/miniPSP/Data/Temp
/src/miniPSP/utils/*.npy
.vscode
test/__pycache__
test/unit/__pycache__
