.DS_Store
/miniPSP/Data/Bands/*.tif
/miniPSP/Data/Targets/*.tif
/miniPSP/Data/*.npy
/miniPSP/Data/*.txt
/miniPSP/logs
/miniPSP/Model_test
/miniPSP/__pycache__
/miniPSP/models/__pycache__
/miniPSP/utils/__pycache__
/miniPSP/PSP_Saved
/miniPSP/a.py
/miniPSP/Data/Temp
/miniPSP/utils/*.npy
.vscode
